<div class="page-header">
  <h1>Profile</h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<p>
  <strong>Email Adress:</strong>
  <%= @student.email %>
</p>

<% if @student == current_student %>
    <%= link_to 'Edit', edit_student_path(@student), class: "btn btn-default" %>
    <h3>My Books</h3>
<% else %>
    <h3><%= @student.name %>'s Books</h3>
<% end %>

<div class="container-fluid">
  <div class="album text-muted">
       <div class="container">
         <div class="row">
             <%= render @student.transactions %>
        </div>
      </div>
  </div>
</div>

<%= link_to 'Back', @student.school, class: "btn btn-default" %>
