<div class="page-header">
  <h1>Profile</h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<p>
  <strong>Email Adress:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>University:</strong>
  <%= @student.university %>
</p>

<% if @student == current_student %>
  <%= link_to 'Edit', edit_student_path(@student), class: "btn btn-default" %>
<% end %>



<h3><%= @student.name %>'s Books</h3>
<% @student.books.find_each do |b| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= b.title %>
        </h3>
        <h5> posted by <%= link_to b.student.name, student_path(b.student) %>
      </div>
      <div class="panel-body">
        <h4><strong>Author:</strong> <%= b.author %> </h4>
        <h4><strong>ISBN:</strong> <%= b.isbn %> </h4>
        <h4><strong>Class:</strong> <%= b.class_for %> </h4>
        <h4><strong>Price:</strong> $<%=  b.price %> </h4>

          <% if @student == current_student %>
            <%= link_to 'Edit', edit_book_path(b),  class: "btn btn-default" %>
          <% end %>
      </div>
    </div>
<% end %>


<%= link_to 'Back', @student.school, class: "btn btn-default" %>
