<h1>New Book</h1>

<h2>Add a book:</h2>
<%= form_for current_student.books.build do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :author %><br />
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :price %><br/>
      <%= f.number_field :price %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Back', books_path %>
