<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @book.title %>
    </h3>
    <h5> posted by <%= link_to @book.student.name, student_path(@book.student) %>
  </div>
  <div class="panel-body">
    <h4><strong>Author:</strong> <%= @book.author %> </h4>
    <h4><strong>ISBN:</strong> <%= @book.isbn %> </h4>
    <h4><strong>Class:</strong> <%= @book.class_for %> </h4>
    <h4><strong>Price:</strong> $<%=  @book.price %> </h4>
  </div>
</div>

<br></br>
<% if @book.student == current_student %>
    <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-default" %>
<% end %>
<%= link_to 'Back', current_student, class: "btn btn-default" %>
