<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Student ID:</strong>
  <%= @book.student_id %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', @book.student %>
