


  <div id=<%= current_student.school.name.gsub(/\s+/, "")%> id=<%= current_student.school.name.gsub(/\s+/, "")%> class="jumbotron jumbotron-fluid">
		<div class="container-fluid">

            <h2 id=<%= current_student.school.name.gsub(/\s+/, "")%>Header id=<%= current_student.school.name.gsub(/\s+/, "")%>Header>Welcome to <%= current_student.school.name %></h2>


        <%= form_tag url_for(:controller => 'transactions', :action => 'search'), class:"form-group input-group center-block", style:"max-width: 400px;", :method => 'get' do |f| %>
        <%= text_field_tag :search, params[:search], :id => 'search_field',class: "form-control", placeholder: "Search for a book" %>

        <%= submit_tag 'Go!',class:"btn btn-success",style: "margin: 10px;", :name => nil %>
        <% end %>

      <h5> or </h5>
      <div style = " margin: 0 auto; text-align: center;  "> <%= link_to 'Sell a book!', sellbook_path, class: "btn btn-success", style: "color: #ffffff;" %></div>

		</div>
	</div>
  <div class="container-fluid">
    <h3>Recently posted Books</h3>
    <div class="album text-muted">
         <div class="container">
           <div class="row">
             <% @school.students.each do |s| %>
                 <% if s != current_student %>
                     <%= render s.transactions %>
                 <% end %>
             <% end %>
           </div>
         </div>
       </div>
  </div>
