

<div class="page-header">
  <h1><%= @school.name %></h1>
  <h2>Welcome <%= current_student.name %></h2>
  <p>
    <strong><%= @school.students.count %></strong> students from your university are using BookBag!

  </p>
</div>


      <div style = " margin: 0 auto; text-align: center;  "> <%= link_to 'Add a Book', addbook_path, class: "btn btn-success btn-lg", style: "color: #ffffff;" %></div>






<br></br>
<br></br>

<h3>Recently posted Books</h3>
<% @school.students.each do |s| %>
    <% s.books.find_each do |b| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= b.title %>
        </h3>
        <h5> posted by <%= link_to b.student.name, student_path(b.student) %>
      </div>
      <div class="panel-body">
       <h4><strong>Author:</strong> <%= b.author %> </h4>
       <h5><strong>Price:</strong> $<%=  b.price %> </h4>
      </div>
    </div>
    <% end %>
<% end %>
