

<div class="page-header">
  <h1><%= @school.name %></h1>
  <h2>Welcome <%= current_student.name %></h2>
</div>

<p>
  <strong>Students counting:</strong>
  <%= @school.students.count %>
</p>





<h3>Books</h3>
<% @school.students.each do |s| %>
    <% s.books.find_each do |b| %>
        <p>
          <strong>Name:</strong>
          <%= b.title %>
        </p>

        <p>
          <strong>Author:</strong>
          <%= b.author %>
        </p>
    <% end %>
<% end %>
