<!DOCTYPE html>
<html>
<head>
  <title>WebApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="pull-right">
    <% if current_student %>
      <%= link_to 'Log Out', logout_path %>
    <% else %>
      <%= link_to 'Log in', login_path %> or
      <%= link_to 'Sign Up', signup_path %>
    <% end %>
  </div>
  <div class = "container">
    <%= yield %>
  </div>
</body>
</html>
