<!DOCTYPE html>
<html>
<head>
  <title>BookBag</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'styles.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
  <header>

  	<nav id="navBarUpper" class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="UserController as userCtrl">
  		<div class="container-fluid">

  			<!-- Brand and toggle get grouped for better mobile display -->
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a type="button" class="navbar-brand">
  					<!-- <img alt="Brand" src="/app/assets/images/bookbag.png"> -->
            <% if current_student %>
            <%= link_to 'BookBag', current_student.school, class: "btn btn-default", id: "homeButton"%>
            <% end %>
  				</a>
  			</div>

  			<!-- Collect the nav links, forms, and other content for toggling -->
  			<div class="collapse navbar-collapse navbar-ex1-collapse">

  				<ul class="nav navbar-nav navbar-right">
  					<% if current_student %>
  						<li class="dropdown">
  							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  								<img src="http://placehold.it/24x24" class="profile-image img-circle"><span id="directions"> <%= current_student.name%></span> <span class="caret"></span>
  							</a>
  							<ul class="dropdown-menu">
  								<li><%= link_to 'Profile', profile_path(:profile => true )%></li>
  								<li><a href="#">Another action</a></li>
  								<li><a href="#">Something else here</a></li>
  								<li role="separator" class="divider"></li>
  								<li>
  								  <%= link_to 'Log Out', logout_path %>
  								</li>
  							</ul>
  						</li>
  					<% else %>
  						<li><a id="directions" href="/login">LOG IN</a></li>
  						<li><a id="directions" href="/signup">REGISTER</a></li>
  					<% end %>
  					<li><a id="directions" href="/about">ABOUT</a></li>
  				</ul>

  			</div><!-- /.navbar-collapse -->

  		</div>
  	</nav>

  </header>


  <div class="container">

    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>




  </div>
    <%= yield %>

    <footer class="center-text">
        <hr>
        <div style="text-align: center;">
            Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
    </footer>
</body>
</html>
